body {
  background: #000;
  font-family: 'Roboto', sans-serif;
}
body .row {
  margin: 0;
}
body .banner {
  position: absolute;
  width: 100%;
  z-index: -1;
  cursor: pointer;
  display: block;
  top: 0;
  padding: 0;
}
body .banner a i {
  width: 100%;
  height: 565px;
  display: block;
}
body .nav-container {
  margin-top: 200px;
  padding: 0;
  background: #09031a;
  box-shadow: 0 0 9px 0 #000000;
  z-index: 2;
}
body .nav-container .navigation {
  position: relative;
}
body .nav-container .navigation .logo {
  position: absolute;
  top: 7px;
  left: 20px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #F37021;
}
body .nav-container .navigation .logo span {
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body .nav-container .navigation .logo:hover span {
  color: #F37021;
}
body .nav-container .navigation .btn {
  border: none;
  border-radius: 0;
  float: right;
  margin: 0;
  background: #09031a;
  outline: 0;
  font-size: 22px;
  font-weight: bold;
}
body .nav-container .navigation .btn .humb {
  display: inline-block;
  width: 20px;
  margin: 0 0 -1px -4px;
}
body .nav-container .navigation .btn .humb .humb1,
body .nav-container .navigation .btn .humb .humb2,
body .nav-container .navigation .btn .humb .humb3 {
  height: 3px;
  background: #F37021;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
body .nav-container .navigation .btn .humb .humb1,
body .nav-container .navigation .btn .humb .humb2 {
  margin-bottom: 4px;
}
body .nav-container .navigation .btn:active {
  outline: 0;
}
body .nav-container .navigation .btn-active {
  background: #10062a;
}
body .nav-container .navigation .btn-active .humb .humb1 {
  moz-transform: rotate(405deg) translateX(9px) translatey(6px);
  -webkit-transform: rotate(405deg) translateX(9px) translatey(6px);
  -o-transform: rotate(405deg) translateX(9px) translatey(6px);
  -ms-transform: rotate(405deg) translateX(9px) translatey(6px);
  transform: rotate(405deg) translateX(6px) translatey(5px);
  width: 20px;
}
body .nav-container .navigation .btn-active .humb .humb2 {
  -moz-transform: rotate(405deg) translateX(4px) translatey(-3px);
  -webkit-transform: rotate(405deg) translateX(4px) translatey(-3px);
  -o-transform: rotate(405deg) translateX(4px) translatey(-3px);
  -ms-transform: rotate(405deg) translateX(4px) translatey(-3px);
  transform: rotate(405deg) translateX(4px) translatey(-3px);
  opacity: 0;
}
body .nav-container .navigation .btn-active .humb .humb3 {
  -moz-transform: rotate(495deg) translateX(-11px) translatey(8px);
  -webkit-transform: rotate(495deg) translateX(-11px) translatey(8px);
  -o-transform: rotate(495deg) translateX(-11px) translatey(8px);
  -ms-transform: rotate(495deg) translateX(-11px) translatey(8px);
  transform: rotate(495deg) translateX(-5px) translatey(4px);
  width: 20px;
}
body .nav-container .nav-tabs {
  border: none;
  z-index: -1;
}
body .nav-container .nav-tabs li {
  position: relative;
  width: 100%;
  height: 0;
  text-align: center;
  transition: all ease-out 0.2s;
}
body .nav-container .nav-tabs li a {
  visibility: hidden;
  position: relative;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 4;
  color: #fff;
  border: none;
  border-radius: 0;
  transition: all ease-out 0.2s;
}
body .nav-container .nav-tabs li a:hover {
  background: #F37021;
}
body .nav-container .nav-tabs .nav-it-show {
  height: 57px;
}
body .nav-container .nav-tabs .nav-it-show a {
  visibility: visible;
}
body section {
  background: #fff;
}
body footer {
  background: #09031a;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  padding: 40px 0 0;
  text-align: center;
}
body footer .container .row div a {
  color: #ffffff;
}
body footer p {
  text-align: center;
}
body footer .lower-footer {
  color: #ffffff;
  font-size: 12px;
  line-height: 50px;
}
@media screen and (max-width: 750px) {
  body .content .content-servers .servers .server-list .server-list-item .item-description {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  body .content .filters .filter-server {
    display: block;
  }
  body .content .filters {
    padding: 0;
  }
  body .nav-container .navigation .logo {
    top: 13px;
  }
  body .nav-container .nav-tabs {
    float: right;
  }
  body .nav-container .nav-tabs li {
    width: auto;
    height: 57px;
  }
  body .nav-container .nav-tabs li a {
    visibility: visible;
    padding: 0 10px;
    line-height: 4;
  }
}
@media screen and (max-width: 500px) {
  body .content .gold-servers .gold-server {
    display: inline-block;
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  body .content {
    padding: 23px 0 43px;
  }
  body .content .filters .filter-server .filter-banner img {
    width: 200px;
  }
}
